<ul class="list-group">
# for (hash, base, full) in dirs:
        <script>
            $('#dir{{ hash }}').on('show.bs.collapse', function() {
                var content = $('#content{{ hash }}');
                content.removeClass("d-none");
                content.load("/dir?path="+encodeURI($('#full{{ hash }}').html()));
            });

            $('#dir{{ hash }}').on('hide.bs.collapse', function() {
                var content = $('#content{{ hash }}');
                content.addClass("d-none");
                content.html("");
            });
        </script>

        <button class="list-group-item list-group-item-action list-group-item-primary" type="button" data-toggle="collapse", data-target="#dir{{ hash }}">
            <span class="oi oi-chevron-bottom"></span>{{ base }}
        </button>
        <div id="dir{{ hash }}" class="collapse"></div>
        <div id="full{{ hash }}" class="d-none">{{ full }}</div>
        <div id="content{{ hash }}" class="card card-body d-none"></div>
# endfor
# for (hash, base, full) in files:
        <div>
            <button type="button" class="oi oi-media-play" onclick='$.get("/add?path={{ full }}")'></button>{{ base }}
        </div>
# endfor
</ul>
