<!doctype html>
<html lang="en">
    <head>
        <title>MPV frontend for RPi</title>

        <!-- jQuery CDN -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

        <!-- Bootstrap meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <script>
            $(document).ready(function() {
                $("#pause").on("click", function (event) {
                    event.preventDefault();
                    $.ajax({
                        url: "/cmd/pause",
                    });
                });
                $("#show").on("click", function (event) {
                    event.preventDefault();
                    $.ajax({
                        url: "/cmd/show",
                    });
                });
                $("#next").on("click", function (event) {
                    event.preventDefault();
                    $.ajax({
                        url: "/cmd/next",
                    });
                });
                $("#prev").on("click", function (event) {
                    event.preventDefault();
                    $.ajax({
                        url: "/cmd/prev",
                    });
                });
                $("#clear").on("click", function (event) {
                    event.preventDefault();
                    $.ajax({
                        url: "/cmd/clear",
                    });
                });
                $("#ytd").on("click", function (event) {
                    event.preventDefault();
                    $.ajax({
                        url: "/add?path=" + $("#yt-url").val(),
                    });
                });
            });
        </script>
    </head>

    <body>
        <h1>This works</h1>

        <ul>
# for (base,full) in dirlist:
        <li><a href="/add?path={{ full }}">{{ base }}</a></li>
# endfor
        </ul>

        <button id="pause" type="button">Pause</button>
        <button id="show" type="button">show</button>
        <button id="next" type="button">next</button>
        <button id="prev" type="button">prev</button>
        <button id="clear" type="button">clear</button>

        <br>
        <input id="yt-url" type="text"></input>
        <button id="ytd" type="button">Youtube</button>

        <!-- Bootstrap CDN & dependency -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
